*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #203aff;
}
p{
    align-items: center;
    background-color: white;
    border: 5px solid #000;
    display: flex;
    font: 20px Verdana, sans-serif;
    height: calc(60vh - 90px);
    justify-content: center;
    margin: 50px 40px 40px;
    padding: 30px;
    width: calc(100vw - 80px);
}

a,
a:visited{
    background-color: white;
    border: 5px solid #000;
    color: black;
    display: block;
    width: calc(100vw - 60px);
    height: 70px;
    font: 20px Verdana, sans-serif;
    margin: 10px 30px;
    padding: 4px 12px;
    text-decoration: none;

}

@media screen and (min-width: 800px){
    p{
        font-size: 20px;
        margin: 50px 90px 80px;
        height: calc(60vh - 130px);
        width: calc(100vw - 180px);
    }

    a,
    a:visited {
        border-radius: 7px;
        font-size: 25px;
        margin: 20px 90px;
        width: calc(100vw - 180px);
    }
}
